body {
  font-family: 'Black And White Picture', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
 -webkit-font-smoothing: antialiased;
}

.file-upload {
  margin: 0 auto;
  padding: 13% 3%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  width: 65%;
	margin: 0 auto;
  position: relative;
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
}

.image-upload-wrap:hover {
	border: dashed 1.5px #35465d;
	background-color: #95a6cd;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
}
.upload-text{
	width: 50%;
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}

.file-upload-image {
  max-height: 60%;
    max-width: 60%;
    margin: auto;
	padding: 10px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
	padding: 2.1% 7.7%
}

.navbar-light .navbar-brand{
	line-height: 1.68;
	text-align: left;
	color: #35464d;
}

.navbar-light .navbar-toggler{
	border-color: #ffffff;
	
}

.section{
	margin-top: 100px;
}

.title{
	line-height: 1.68;
	text-align: center;
	color: #35464d;
}

.subtitle{
	line-height: 1.68;
	text-align: center;
	color: #35464d;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
	.navbar-brand{
		font-size: 2rem;
	}
}

.youtube-link{
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}

.youtube-link:hover{
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}
.youtube-icon{
	width: 30px;
    height: 27.262px;
}


.btnArea button {
	width: 17px;
	/* 이미지의 넓이*/
	height: 16px;
	/* 이미지의 높이*/
	border: 0;
	/*버튼은 기본으로 border값이 있으므로 0으로 만들어 줌*/
	padding: 0;
	overflow: hidden;
	/*위치를 넘어선 것은 안보이도록 설정*/
	position: relative;
}

.btnArea span {
	width: 17px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.prev span {
	/*css의 id는 100점, class명은 10점, button 같은 type명은 1점*/
	background: url(images/main/btn_event_prev.gif) no-repeat;
}

.next span {
	background: url(images/main/btn_event_next.gif) no-repeat;
	/*!important  무조건 최우선으로 적용되도록 하는 코드(테스트일때만 쓰도록)*/
}

/* =Elements style
---------------------- */
.load-wrapp {
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    text-align: center;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

/* =Animate the stuff
------------------------ */
.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}



.bar-container {
  height: 2.7rem;
}
.dinosaur-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.dinosaur-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.deer-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.deer-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.dog-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.dog-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.cat-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.cat-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}
.bear-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.bear-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.fox-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.fox-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.rabbit-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.rabbit-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.animal-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.animal-explain {
    font-size: 1.5rem;
}
.dinosaur-animal-title {
    color: #3ba363;
}
.dinosaur-animal-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.deer-animal-title {
    color: #3ba363;
}
.deer-animal-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.cat-animal-title {
    color: #ff6c0a;
}
.cat-animal-celeb {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.dog-animal-title {
    color: #548dd4;
}
.dog-animal-celeb {
    color: #548dd4;
    font-size: 1.2rem;
}
.rabbit-animal-title {
    color: #e56995;
}
.rabbit-animal-celeb {
    color: #e56995;
    font-size: 1.2rem;
}
.bear-animal-title {
    color: #9b6b43;
}
.bear-animal-celeb {
    color: #9b6b43;
    font-size: 1.2rem;
}
.fox-animal-title {
    color: #31849b;
}
.fox-animal-celeb {
    color: #31849b;
    font-size: 1.2rem;
}

.ad-banner{
	width: 320px;
	margin: 0 auto;
	padding-top: 20px;
}